<style>

.title{
    font-family:Sans-serif;
	font-size:50;
	color:008cba;
	padding-top:1.8em;
	padding-left:0.5em
}
.tablerow{
	background-color:#008bca;
}

</style>
<body style="background-color:black">
<title>ABMS Login</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.min.css"/>
<div class="row">
	<div class="small-4 column">
	<br/>
	<br/>
	<br/>
	<br/>
         <h3 style="font-family:Sans-serif;color:#008cba">Login</h3>
         <form method="post" action="{% url 'msgin.views.custom_login' %}" radius="50">
             {% csrf_token %}
             <table style="padding:0.7em;border-radius:0.5em;background-color:#008bca;border-color:#008bca">
             <tr>
                 <td><label>{{ form.username.label_tag }}</label></td>
                 <td>{{ form.username }}</td>
             </tr>
             <tr>
                 <td class="tablerow"><label>{{ form.password.label_tag }}</label></td>
                 <td class="tablerow">{{ form.password }}</td>
             </tr>
             </table>

{% if form.errors %}
<p style="color:#00bfcf">Your username and password didn't match. Please try again.</p>
{% endif %}
             <input type="submit" class="button round" value="login" />
             <input type="hidden" name="next" value="/" />
         </form>
    </div>
    <div class="small-4 column">
        <h2 class="title">Bulk<br/> Messaging<br/>System</h2>
    </div>
	<div class="small-4 column" style="padding:1em" >
	    <br/>
        <img src="/static/img/scroll_bulk_sms.png">
    </div>
</div>         
</div>
</body>