{% extends "base.html" %}
{% block title %}
Inbox
{% endblock %}
{% block content %}
{% load pagination_tags %}
{% load sorting_tags %}

{% autosort obj as sorted_obj %}
{% autopaginate sorted_obj 5 as paginated_obj %}

<div class="row">
	<div class="small-12 column">
	<label>
		Sort By: {% anchor created_at 'Date'%}
	</label>
		<hr/>
		{% for o in paginated_obj %}
			<label>From: {{ o.sender }}</label>
				<!-- {% for group_receiv in o.group_receiver.all %}
					{{ group_receiv }}
				{% endfor %}</a> -->
			<p class="message-content">{{ o.message_content }}</p>
			<hr/>
		{% endfor %}
	</div>
	<label>{% paginate %}</label>
</div>

{% endblock %}
